Obejtivo :segmentar nossas bases de clientes de acordo com seus interesses

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#dados
dados = pd.read_csv("dados_mkt.csv")
dados.head(5)

,sexo,idade,numero_de_amigos,basquete,futebol_americano,futebol,softbol,voleibol,natacao,animacao,...,musica,rock,cabelo,vestido,shopping,compras,roupas,nossa_marca,marca_concorrente,bebidas
0,F,27,49,0,0,10,0,0,10,0,...,0,0,0,0,0,0,0,0,0,10
1,F,27,41,0,0,0,0,0,0,0,...,10,20,40,0,10,0,0,0,0,10
2,F,26,1,0,0,0,0,0,10,0,...,10,0,50,0,0,0,30,0,0,0
3,M,28,32,0,50,0,0,0,0,0,...,10,10,0,0,0,0,0,0,0,0
4,M,28,18,0,0,0,0,0,0,0,...,0,0,0,0,0,0,10,0,0,0

os dados não são rotulados, vai ser feito a clusterização, que agrupa e segmenta o conjunto de dados com base em suas características e semelhanças.

**NOTA:**  A clusterização, também conhecida como agrupamento, é uma técnica de aprendizado de máquina que se enquadra na categoria de aprendizado não supervisionado. Essa técnica é usada para organizar um conjunto de objetos em grupos, de modo que os objetos dentro de cada grupo sejam mais semelhantes entre si do que com aqueles em outros grupos. Essa semelhança é determinada com base nas características dos objetos, que podem incluir medidas numéricas, categorias, ou até mesmo dados mais complexos como imagens ou documentos de texto.

In [ ]:
#Verificar info dos dados para saber se os dados int sao int
dados.info()
#Coluna de sexo esta como object provavelmente deve esta como F M vamos verifica as info desta celula e fazer a troca para 1 e 0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12992 entries, 0 to 12991
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sexo               12992 non-null  object
 1   idade              12992 non-null  int64
 2   numero_de_amigos   12992 non-null  int64
 3   basquete           12992 non-null  int64
 4   futebol_americano  12992 non-null  int64
 5   futebol            12992 non-null  int64
 6   softbol            12992 non-null  int64
 7   voleibol           12992 non-null  int64
 8   natacao            12992 non-null  int64
 9   animacao           12992 non-null  int64
 10  beisebol           12992 non-null  int64
 11  tenis              12992 non-null  int64
 12  esportes           12992 non-null  int64
 13  fofo               12992 non-null  int64
 14  danca              12992 non-null  int64
 15  banda              12992 non-null  int64
 16  marcha             12992 non-null  int64
 17  musica             12992 non-null  int64
 18  rock               12992 non-null  int64
 19  cabelo             12992 non-null  int64
 20  vestido            12992 non-null  int64
 21  shopping           12992 non-null  int64
 22  compras            12992 non-null  int64
 23  roupas             12992 non-null  int64
 24  nossa_marca        12992 non-null  int64
 25  marca_concorrente  12992 non-null  int64
 26  bebidas            12992 non-null  int64
dtypes: int64(26), object(1)
memory usage: 2.7+ MB

In [5]:
dados["sexo"].unique()

array(['F', 'M', 'NE'], dtype=object)